body{
    background-color: rgb(229, 107, 111);
    color: rgb(34, 64, 100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(234, 172, 139);
    padding: 40px;
    border-left: #fff solid 5px;
    border-right: #fff solid 5px;
}
h1{
    background-color: rgb(249, 223, 144);
    border: rgb(241, 124, 128), solid, 10px;
    border-style:ridge;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    width: 30%;
    text-align: center;
    margin: 0px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}
h3{
    background-color: antiquewhite;
    border-bottom: solid 5px rgb(34, 64, 100);
    border-left: solid 7px rgb(109, 89, 122);
    border-radius: 30px;
    padding-left: 15px;
    width: 15%;
    margin 30px;
}
p{
    font-size: 1.05em;
    line-height: 2.2em;
    background-color: antiquewhite;
    padding: 10px;
    border: rgb(181, 101, 114) double 15px;
    border-bottom: rgb(34, 64, 100) 15px solid;
}
img{
    float: left;
    width: 320px;
    border: rgb(109, 89, 122) solid 5px;
    border-radius: 20px;
    margin-right: 20px;
}
a:link{
    color: rgb(255, 0, 174);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: rgb(112, 11, 184);
}
a:hover{
    color:rgb(112, 155, 246);
    text-decoration: underline;
}
a:active{
    color:rgb(248, 85, 232);
}
h3:hover{
    border-color: aquamarine;
}
#pic1{
    width: 300px;
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 20px;
    width: 300px;
}

.highlight{
    font-weight: bold;
    background-color: rgb(249, 223, 144);
    border-radius: 15px;
}
.highlight:hover{
    background-color: aquamarine;
}
#sidebar{
    background-color: rgb(249, 223, 144);
    width: 250px;
    float:right;
    border: 5px solid rgb(109, 89, 122);
    border-radius: 15px;
    margin: 30px;
    line-height: 2.05em;
    font-size: 1.05em;
}
#sidebar h3{
    padding: 5px;
    width: 100px;
    margin-left: 10px;
}
@media (max-width:1200px){
    #container{
        background-color: rgb(218, 85, 241);
        width:800px;
    }
}
@media (max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin:0;
        padding:0;
        border: none;
    }
    body,h1,h2,h3,p,div{
        background-color: rgb(255, 234, 192) !important;
        border:none;
    }
    body{
        padding:20px;
    }
    #sidebar h3{
        color: black;
    }
}
@media (max-width:768px){
    #sidebar{
        display: none;
    }
    img, #pic1,#pic2{
        float:none;
        border:none;
        width:100%;
    }
    h3{
        margin:10px auto;
    }
}